<rd-header>
  <rd-header-title title="Create container"></rd-header-title>
  <rd-header-content>
    <a ui-sref="containers">Containers</a> &gt; Add container
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" autocomplete="off">
          <!-- name-input -->
          <div class="form-group">
            <label for="container_name" class="col-sm-1 control-label text-left">Name</label>
            <div class="col-sm-11">
              <input type="text" class="form-control" ng-model="config.name" id="container_name" placeholder="Not Allowed!" disabled>
            </div>
          </div>
          <!-- !name-input -->
          <div class="col-sm-12 form-section-title">
            Image configuration
          </div>
          <div ng-if="!formValues.Registry && fromContainer">
            <i class="fa fa-exclamation-triangle orange-icon" aria-hidden="true"></i>
            <span class="small text-danger" style="margin-left: 5px;">The Docker registry for the <code>{{ config.Image }}</code> image is not registered inside Portainer, you will not be able to create a container. Please register that registry first.</span>
          </div>
          <div ng-if="formValues.Registry || !fromContainer">
            <!-- image-and-registry -->
            <div class="form-group">
              <por-image-registry image="config.Image" registry="formValues.Registry" ng-if="formValues.Registry" auto-complete="true"></por-image-registry>
            </div>
            <!-- !image-and-registry -->
          </div>
            <!-- access-control -->
          <por-access-control-form form-data="formValues.AccessControlData" resource-control="fromContainer.ResourceControl" ng-if="applicationState.application.authentication && fromContainer" ></por-access-control-form>
          <!-- !access-control -->
          <!-- actions -->
          <div class="col-sm-12 form-section-title">
            Actions
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-disabled="state.actionInProgress || !config.Image || (!formValues.Registry && fromContainer)" ng-click="create()" button-spinner="state.actionInProgress">
                <span ng-hide="state.actionInProgress">Deploy the container</span>
                <span ng-show="state.actionInProgress">Deployment in progress...</span>
              </button>
              <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px;">{{ state.formValidationError }}</span>
              <span ng-if="fromContainerMultipleNetworks" style="margin-left: 10px">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span class="small text-muted" style="margin-left: 5px;">This container is connected to multiple networks, only one network will be kept at creation time.</span>
              </span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
